body{
    background-color: white;
}

#cuerpo {
    width: 1210px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;

    background-color: black;
    padding: 20px;
    border: 1px solid #ddd;
}

#perfil{
    width: 200px;
    height: 250px;
    border: 1px solid black;
    float: none;
    box-shadow: 22px 22px 22px black;
}

