body{
    background-color: white;
}

#cuerpo {
    width: 1210px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;

    background-color: black;
    padding: 20px;
    border: 1px solid #ddd;
}


