$color-shadow: #2B2F30;
$color-hyf: #1b1e1f;
$color-bottom: white;
$display-nav-bar: block;

%efecto-3d{
    display: block;
    border-top: 2vh solid $color-shadow;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif !important;
    
}

body{
    background-color: white;
    font-size: 15px;
}

header{

    #logotipo{
        width: 202px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }

    nav{
        width: 92vw;
        height: 42.08px;
        margin: 0 auto;
        background-color: $color-hyf;
        border: 1px solid #333333;
        box-shadow: 0px 22px 22px gray;
        font-size: 14px;

        ul{
            list-style: none;
            text-decoration: none;

            li{
                line-height: 40px;
                float: left;

                a{
                    display: block;
                    padding-left: 10px;
                    padding-right: 20px;
                    color: $color-bottom;

                    &:hover{
                        background: $color-bottom;
                        box-shadow: 0px 0px 5px black inset;
                        color: black;
                        transition: all 300ms;
                    }
                }
            }
        }
    }
    //efecto 3d pendiente de revision 
    #barra{
        width: 92vw;
        margin: 0 auto;
        margin-bottom: 40px;

        #esquina_izquierda{
            @extend %efecto-3d;
            border-left: 3vw solid transparent;
            float: left;
        }
        #relleno{
            display: block;
            width: 86vw;
            height: 2vh;
            background-color: $color-shadow;
            float: left;
        }
        #esquina_derecha{
            @extend %efecto-3d;
            border-right: 3vw solid transparent;
            float: right;
        }
    }
}

//el minimo tiene que ser de ancho 417px x 794px de alto
#contenido {
    
    width: 85vw;
    min-width: 417px;
    height: 80vh;
    min-height: 581px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;

    background-color: rgb(245, 237, 237);
    padding: 20px;
    border: 1px solid #ddd;

    font-size: 18px;


    #perfil{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #presentacion{
        margin-bottom: 10px;
    }

    .flex_container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 30px;
        
        .content{
            width: 200px;
            height: 90px;
            text-align: left;
            
            .img_redes{
                width: 10vw;
                height: 10vh;
            }

            #h3_tabla{
                text-align: center;
            }

            #content_tabla{
                width: 400px;
                height: 400px;
            }

            table{
                text-align: left;
                width: 100%;
                border-collapse: collapse;

                thead{
                    th{
                        text-align: center;
                    }
                }

                th, td{
                    padding: 0;
                    border: 1px solid black;
                }
            }
        }

    }
   
} 

@media screen and (min-width: 1400px ){
    #contenido{
        font-size: 20px;
    }
}

@media screen and (max-width: 826px) {
    #contenido{
        height: 900px;
    }

    .flex_container{
        padding: 5px;
        height: 500px;
        flex-flow: row wrap;
        justify-content: start;
    }
}
footer{
    width: 95vw;
    height: 5vh;
    min-height: 40px;

    background-color: $color-hyf;
    border: 1px solid #333333;
    
    color: white;
    text-align: center;
    margin: 0 auto;

    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    
}

